<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Books</h3>
                    <p>Get to know more by clicking on the book name</p>
                    <button class="btn btn-warning ml-2" routerLink="/">Back to Home</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card shadow-effect">
            <div class="card-body">
                <table class="table row-border hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 50%; text-align: center;"> No </th>
                            <th style="width: 50%; text-align: center;"> Title </th>
                        </tr>
                    </thead>
                    <tbody style="width: 50%; text-align: center;">
                        <ng-container *ngFor="let value of posts">
                            <tr>
                                <td>
                                        {{value.id}}
                                </td>
                                <td>
                                    <a [routerLink]="'/books/details'" [queryParams]="{id: value.id}">
                                        {{value.title}}
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
